Repository Ogu-Family/MIML_backend, pull requests merged in 2024-01, with the labels that each got.

#16 Feat/#12 마이페이지 구현 및 수정 api 구현
  src/main/java/com/miml/c2k/domain/member/Member.java
  src/main/java/com/miml/c2k/domain/member/controller/MemberController.java
  src/main/java/com/miml/c2k/domain/member/dto/MemberResponseDto.java
  src/main/java/com/miml/c2k/domain/member/dto/MemberUpdateDto.java
  src/main/java/com/miml/c2k/domain/member/service/MemberService.java
  src/main/resources/templates/myPage/myPage.html
Labels: feat, 리뷰 얼마 안걸려요!

#17 Feat/#14 좌석 목록 반환 및 좌석 예약 API 구현
  src/main/java/com/miml/c2k/domain/seat/Seat.java
  src/main/java/com/miml/c2k/domain/seat/controller/SeatController.java
  src/main/java/com/miml/c2k/domain/seat/dto/ReservedSeatResponseDto.java
  src/main/java/com/miml/c2k/domain/seat/dto/SeatRequestDto.java
  src/main/java/com/miml/c2k/domain/seat/dto/SeatResponseDto.java
  src/main/java/com/miml/c2k/domain/seat/repository/SeatRepository.java
  src/main/java/com/miml/c2k/domain/seat/service/SeatService.java
  src/main/java/com/miml/c2k/domain/ticket/Ticket.java
  src/main/java/com/miml/c2k/domain/ticket/repository/TicketRepository.java
  src/main/resources/templates/schedule/select-schedule.html
  src/main/resources/templates/schedule/select-seat.html
Labels: feat, 리뷰 천천해 해주세요~

#21 Feat/#18 마이페이지 예매 정보 보여주는 로직 추가
  src/main/java/com/miml/c2k/domain/member/Member.java
  src/main/java/com/miml/c2k/domain/member/controller/MemberController.java
  src/main/java/com/miml/c2k/domain/member/dto/MemberResponseDto.java
  src/main/java/com/miml/c2k/domain/member/service/MemberService.java
  src/main/java/com/miml/c2k/domain/payment/Payment.java
  src/main/java/com/miml/c2k/domain/schedule/repository/ScheduleRepository.java
  src/main/java/com/miml/c2k/domain/seat/repository/SeatRepository.java
  src/main/java/com/miml/c2k/domain/theater/repository/TheaterRepository.java
  src/main/java/com/miml/c2k/domain/ticket/dto/TicketInfoResponseDto.java
  src/main/java/com/miml/c2k/domain/ticket/repository/TicketRepository.java
  src/main/java/com/miml/c2k/domain/ticket/service/TicketService.java
  src/main/resources/templates/myPage/myPage.html
Labels: feat, 리뷰 급합니다!!!

#23 Feat/#20 여러 좌석 예매 가능하도록 수정
  src/main/java/com/miml/c2k/domain/seat/Seat.java
  src/main/java/com/miml/c2k/domain/seat/controller/SeatController.java
  src/main/java/com/miml/c2k/domain/seat/dto/ReservedSeatResponseDto.java
  src/main/java/com/miml/c2k/domain/seat/dto/SeatRequestDto.java
  src/main/java/com/miml/c2k/domain/seat/repository/SeatRepository.java
  src/main/java/com/miml/c2k/domain/seat/service/SeatService.java
  src/main/java/com/miml/c2k/domain/ticket/Ticket.java
  src/main/java/com/miml/c2k/domain/ticket/dto/TicketInfoResponseDto.java
  src/main/java/com/miml/c2k/domain/ticket/repository/TicketRepository.java
  src/main/java/com/miml/c2k/domain/ticket/service/TicketService.java
  src/main/resources/templates/myPage/myPage.html
  src/main/resources/templates/schedule/select-schedule.html
  src/main/resources/templates/schedule/select-seat.html
Labels: feat, 리뷰 얼마 안걸려요!

#24 Feat/#22 사용자가 영화를 취소할 수 있음
  src/main/java/com/miml/c2k/domain/schedule/repository/ScheduleRepository.java
  src/main/java/com/miml/c2k/domain/ticket/Ticket.java
  src/main/java/com/miml/c2k/domain/ticket/TicketStatus.java
  src/main/java/com/miml/c2k/domain/ticket/controller/TicketController.java
  src/main/java/com/miml/c2k/domain/ticket/dto/TicketInfoResponseDto.java
  src/main/java/com/miml/c2k/domain/ticket/service/TicketService.java
  src/main/resources/templates/myPage/myPage.html
Labels: feat, 리뷰 얼마 안걸려요!

#25 Feat/#19 로그인 후 사용자/관리자 구분
  src/main/java/com/miml/c2k/domain/member/Member.java
  src/main/java/com/miml/c2k/domain/member/Role.java
  src/main/java/com/miml/c2k/domain/member/controller/MemberController.java
  src/main/java/com/miml/c2k/domain/member/dto/MemberResponseDto.java
  src/main/java/com/miml/c2k/global/auth/OAuthController.java
  src/main/resources/images/miml_logo.png
  src/main/resources/templates/home/home.html
  src/main/resources/templates/login/login.html
Labels: feat, 리뷰 얼마 안걸려요!

#35 Feat/#29 영화 예매 페이지와 연관된 모든 테스트 코드 추가
  src/main/java/com/miml/c2k/domain/movie/Movie.java
  src/main/java/com/miml/c2k/domain/seat/service/SeatService.java
  src/main/java/com/miml/c2k/domain/theater/Theater.java
  src/main/java/com/miml/c2k/domain/theater/controller/TheaterController.java
  src/main/java/com/miml/c2k/domain/ticket/Ticket.java
  src/main/resources/templates/schedule/select-schedule.html
  src/test/java/com/miml/c2k/domain/schedule/controller/ScheduleControllerTest.java
  src/test/java/com/miml/c2k/domain/schedule/repository/ScheduleRepositoryTest.java
  src/test/java/com/miml/c2k/domain/schedule/service/ScheduleServiceTest.java
  src/test/java/com/miml/c2k/domain/seat/repository/SeatRepositoryTest.java
  src/test/java/com/miml/c2k/domain/theater/controller/TheaterControllerTest.java
Labels: feat, 리뷰 급합니다!!!, test

#33 Feat/#30 관리자 상영 일정 단위 테스트 추가
  src/main/java/com/miml/c2k/domain/schedule/Schedule.java
  src/main/java/com/miml/c2k/domain/schedule/dto/ScheduleSavingDto.java
  src/main/java/com/miml/c2k/domain/screen/Screen.java
  src/test/java/com/miml/c2k/domain/admin/controller/AdminControllerTest.java
  src/test/java/com/miml/c2k/domain/schedule/ScheduleTest.java
  src/test/java/com/miml/c2k/domain/schedule/repository/ScheduleRepositoryTest.java
  src/test/java/com/miml/c2k/domain/schedule/service/ScheduleServiceTest.java
Labels: feat, 리뷰 급합니다!!!, test

#34 Feat/#26 상영 상태에 따른 영화 목록 조회 관련 예외 및 테스트 케이스 추가
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/miml/c2k/domain/movie/controller/MovieController.java
  src/main/java/com/miml/c2k/domain/movie/dto/PlayingStatusType.java
  src/main/java/com/miml/c2k/domain/schedule/repository/ScheduleRepository.java
  src/main/resources/templates/schedule/select-schedule.html
  src/test/java/com/miml/c2k/domain/DataFactoryUtil.java
  src/test/java/com/miml/c2k/domain/movie/controller/MovieControllerIntegrationTest.java
  src/test/java/com/miml/c2k/domain/movie/dto/PlayingStatusTypeTest.java
  src/test/java/com/miml/c2k/domain/movie/repository/MovieRepositoryTest.java
  src/test/java/com/miml/c2k/domain/movie/service/MovieServiceTest.java
  src/test/java/com/miml/c2k/domain/schedule/repository/ScheduleRepositoryTest.java
Labels: feat, docs, 리뷰 천천해 해주세요~, test

#38 Feat/#31 예매 취소, 티켓 관련 테스트 코드 작성
  src/main/java/com/miml/c2k/domain/member/controller/MemberController.java
  src/main/java/com/miml/c2k/domain/ticket/Ticket.java
  src/main/java/com/miml/c2k/domain/ticket/controller/TicketController.java
  src/main/java/com/miml/c2k/global/auth/SecurityConfig.java
  src/test/java/com/miml/c2k/domain/schedule/controller/ScheduleControllerTest.java
  src/test/java/com/miml/c2k/domain/schedule/repository/ScheduleRepositoryTest.java
  src/test/java/com/miml/c2k/domain/theater/repository/TheaterRepositoryTest.java
  src/test/java/com/miml/c2k/domain/ticket/controller/TicketControllerTest.java
  src/test/java/com/miml/c2k/domain/ticket/repository/TicketRepositoryTest.java
  src/test/java/com/miml/c2k/domain/ticket/service/TicketServiceTest.java
Labels: 리뷰 얼마 안걸려요!, test

#36 Feat/#27 Validation 추가 및 테스트 코드 작성, 문서화
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/miml/c2k/domain/member/Member.java
  src/main/java/com/miml/c2k/domain/member/controller/MemberController.java
  src/main/java/com/miml/c2k/domain/member/dto/MemberResponseDto.java
  src/main/java/com/miml/c2k/domain/member/dto/MemberUpdateDto.java
  src/main/java/com/miml/c2k/domain/member/service/MemberService.java
  src/main/java/com/miml/c2k/global/auth/config/ClientConfig.java
  src/main/java/com/miml/c2k/global/auth/config/SecurityConfig.java
  src/main/java/com/miml/c2k/global/auth/controller/OAuthController.java
  src/main/java/com/miml/c2k/global/auth/service/OAuthLoginService.java
  src/main/java/com/miml/c2k/global/auth/service/RequestOAuthInfoService.java
  src/main/resources/templates/home/home.html
  src/test/java/com/miml/c2k/domain/admin/controller/AdminControllerTest.java
  src/test/java/com/miml/c2k/domain/member/MemberIntegrationTest.java
  src/test/java/com/miml/c2k/domain/movie/controller/MovieControllerIntegrationTest.java
  src/test/java/com/miml/c2k/domain/movie/dto/PlayingStatusTypeTest.java
  src/test/java/com/miml/c2k/domain/movie/repository/MovieRepositoryTest.java
  src/test/java/com/miml/c2k/domain/movie/service/MovieServiceTest.java
  src/test/java/com/miml/c2k/domain/schedule/ScheduleTest.java
  src/test/java/com/miml/c2k/domain/schedule/service/ScheduleServiceTest.java
  src/test/java/com/miml/c2k/domain/theater/controller/TheaterControllerTest.java
Labels: feat, 리뷰 얼마 안걸려요!, test

#43 Feat/#27 잘못된 merge 해결
  src/docs/asciidoc/index.adoc
  src/test/java/com/miml/c2k/domain/admin/controller/AdminControllerTest.java
  src/test/java/com/miml/c2k/domain/member/MemberIntegrationTest.java
  src/test/java/com/miml/c2k/domain/movie/controller/MovieControllerIntegrationTest.java
  src/test/java/com/miml/c2k/domain/movie/dto/PlayingStatusTypeTest.java
  src/test/java/com/miml/c2k/domain/movie/repository/MovieRepositoryTest.java
  src/test/java/com/miml/c2k/domain/movie/service/MovieServiceTest.java
  src/test/java/com/miml/c2k/domain/schedule/ScheduleTest.java
  src/test/java/com/miml/c2k/domain/schedule/service/ScheduleServiceTest.java
  src/test/java/com/miml/c2k/domain/theater/controller/TheaterControllerTest.java
Labels: help wanted, 리뷰 얼마 안걸려요!

#45 Feat/#41, #42 좌석 동시 예매 불가 구현
  build.gradle
  src/main/java/com/miml/c2k/domain/schedule/service/ScheduleService.java
  src/main/java/com/miml/c2k/domain/seat/Seat.java
  src/main/java/com/miml/c2k/domain/seat/repository/SeatRepository.java
  src/main/java/com/miml/c2k/domain/seat/service/SeatService.java
  src/test/java/com/miml/c2k/domain/DataFactoryUtil.java
  src/test/java/com/miml/c2k/domain/seat/controller/SeatControllerIntegrationTest.java
  src/test/java/com/miml/c2k/domain/seat/repository/SeatRepositoryTest.java
  src/test/java/com/miml/c2k/domain/seat/service/SeatServiceIntegrationTest.java
  src/test/java/com/miml/c2k/domain/seat/service/SeatServiceTest.java
Labels: feat, 리뷰 천천해 해주세요~, test

#44 Refactor/#40 티켓 정보 비동기 처리 구현
  build.gradle
  src/main/java/com/miml/c2k/domain/member/controller/MemberController.java
  src/main/java/com/miml/c2k/domain/ticket/repository/TicketRepository.java
  src/main/java/com/miml/c2k/domain/ticket/service/TicketService.java
  src/test/java/com/miml/c2k/domain/ticket/TicketInfoFetchJoinAndAsyncTest.java
  src/test/java/com/miml/c2k/domain/ticket/repository/TicketRepositoryTest.java
  src/test/java/com/miml/c2k/domain/ticket/service/TicketServiceTest.java
Labels: feat, refactor, 리뷰 천천해 해주세요~, test
